<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
  <link rel="stylesheet" href="./src/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./src/assets/css/style.css" />
  <link rel="stylesheet" href="./src/assets/fonts/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script src="./src/assets/js/jquery-3.6.4.min.js"></script>
    <script src="./DataTables/datatables.js"></script>
    <script src="./DataTables/datatables.min.js"></script>
    <link rel="stylesheet" href="DataTables/DataTables-1.10.18/css/jquery.dataTables.css">


</head>

<body>
  <div id="app"></div>

  <script type="module" src="./src/main.js"></script>


</body>

</html>